<!--
title: Getting Started with EMMA
description: 
published: true
date: 2024-12-20T19:01:56.227Z
tags: 
editor: ckeditor
dateCreated: 2020-11-11T15:13:41.490Z
-->

<p><strong>EMMA</strong> is an integrated mobile marketing platform that provides tools to analyze user behavior, manage personalized messaging campaigns, and attribute app installs.</p>
<h1><strong>SDKs</strong></h1>
<p><strong>EMMA's SDKs</strong> make it easier to integrate the platform into various apps and development environments, offering support for multiple platforms and popular frameworks.</p>
<p><strong>Key features of the SDKs:</strong></p>
<ul>
  <li><strong>Session Control</strong>: Allows managing and analyzing user sessions within the app.</li>
  <li><strong>Push Notifications</strong>: Facilitates sending and managing personalized push notifications to users.</li>
  <li><strong>Event Tracking</strong>: Provides tools to track specific events within the app, delivering valuable data about user behavior.</li>
  <li><strong>In-App Messaging Management</strong>: Allows creating and managing messages displayed within the app to interact effectively with users.</li>
  <li><strong>Native Ads</strong>: Supports the integration of native ads that blend seamlessly with the app’s design and functionality.</li>
  <li><strong>Install Attribution</strong>: Provides tools to identify and analyze the sources of app installs, helping optimize user acquisition strategies.</li>
</ul>
<h1><strong>REST API</strong></h1>
<p>In addition to the SDKs, <strong>EMMA</strong> offers a <strong>REST</strong> interface that allows server-to-server interactions, expanding integration possibilities and process automation.</p>
<h1><strong>Support and Contact</strong></h1>
<p>For any inquiries or assistance, the EMMA support team is available to help.</p>
<ul>
  <li><strong>Main Documentation</strong>: Explore guides, tutorials, and detailed articles in <a href="https://docs.emma.io/en/home">our documentation</a>.</li>
  <li><strong>Support Contact</strong>: Email <a href="mailto:support@emma.io">support@emma.io</a>.</li>
  <li><strong>Contact Form</strong>: Access the form on <a href="https://emma.io/en/contact">our website</a>.</li>
</ul>
<p>For more information, visit <a href="https://emma.io/en">our main page</a>.</p>
