<!--
title: Comenzando con EMMA
description: 
published: true
date: 2024-12-20T19:02:28.165Z
tags: 
editor: ckeditor
dateCreated: 2020-11-11T15:15:48.558Z
-->

<p><strong>EMMA</strong> es una plataforma integral de marketing móvil que proporciona herramientas para analizar el comportamiento de los usuarios, gestionar campañas de mensajería personalizada y atribuir instalaciones de aplicaciones.</p>
<h1>SDKs</h1>
<p>Los <strong>SDKs de EMMA</strong> facilitan la integración de la plataforma en diversas aplicaciones y entornos de desarrollo, ofreciendo soporte para múltiples plataformas y frameworks populares.</p>
<p>Funcionalidades destacadas de los SDKs:</p>
<ul>
  <li><strong>Control de Sesiones</strong>: Permite gestionar y analizar las sesiones de los usuarios en la aplicación.</li>
  <li><strong>Notificaciones Push</strong>: Facilita el envío y gestión de notificaciones push personalizadas a los usuarios.</li>
  <li><strong>Seguimiento de Eventos</strong>: Ofrece herramientas para rastrear eventos específicos dentro de la aplicación, proporcionando datos valiosos sobre el comportamiento del usuario.</li>
  <li><strong>Gestión de Mensajes In-App</strong>: Permite crear y administrar mensajes que se muestran dentro de la aplicación para interactuar con los usuarios de manera efectiva.</li>
  <li><strong>Anuncios Nativos (Native Ads)</strong>: Soporta la integración de anuncios nativos que se adaptan al diseño y funcionalidad de la aplicación.</li>
  <li><strong>Atribución de Instalaciones</strong>: Proporciona herramientas para identificar y analizar las fuentes de instalación de la aplicación, ayudando a optimizar las estrategias de adquisición de usuarios.</li>
</ul>
<h1>REST API</h1>
<p>Además de los SDKs, <strong>EMMA</strong> ofrece una interfaz <strong>REST</strong> que permite realizar interacciones servidor a servidor, ampliando las posibilidades de integración y automatización de procesos</p>
<h1>Soporte y contacto</h1>
<p>Para cualquier consulta o asistencia, el equipo de soporte de EMMA está disponible para ayudarte.</p>
<ul>
  <li><strong>Documentación principal</strong>: Explora guías, tutoriales y artículos detallados en <a href="https://docs.emma.io/es/home">nuestra documentación</a>.</li>
  <li><strong>Contacto de soporte</strong>: Escribe un email a <a href="mailto:support@emma.io">support@emma.io</a></li>
  <li><strong>Formulario de contacto</strong>: Accede al <a href="https://emma.io/contacto">formulario en nuestro sitio web</a>.</li>
</ul>
<p>Para más información, visita nuestra <a href="https://emma.io">página principal</a>.</p>
<p>&nbsp;</p>
